{% extends 'charts/base.html' %}

{% block title %}{{ chart_title }}{% endblock %}
{% block extra_head %}
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.js"></script>
    <!--
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.2.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.2.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.0.2.min.js"></script>
    -->
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>
{% endblock %}

{% block body %}
    {{ div|safe }}
    {{ script|safe }}
{% endblock %}
