{% extends 'charts/base.html' %}

{% block body %}
    <h1>Export data sets to Excel</h1>
    <div class="form-group">
        <input placeholder="Search" id="search" type="text" class="form-control"/>
    </div>
    {% if charts %}
        {% regroup charts|dictsort:"title" by title as chart_list %}
        <div id="nested-list">
            <ul class="navList">
                {% for chart_title in chart_list %}
                    <li>
                        <a href="{% url 'charts:dump' chart_title.list.0.slug_title %}">{{ chart_title.grouper }}</a>
                    </li>
                    <li>
                        <ul>
                            {% for chart in chart_title.list %}
                                <li>{{ chart.name }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No data sets are available.</p>
    {% endif %}
{% endblock %}

{% block extra_js %}
    {% load staticfiles %}
    <script src="{% static 'charts/js/search.js' %}"></script>
{% endblock %}
