{% extends 'charts/base.html' %}

{% block title %}Import{% endblock %}

{% block body %}
    <h1>Import data sets from Excel or Csv</h1>
    <div id="id_import_form">
        <form enctype="multipart/form-data" action="{% url 'charts:import' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <table class="table" width="400" cellpadding="30">
                        {{ form.as_table }}
                    </table>
                </div>
            </div>
            <p><input type="submit" value="Submit" class="btn btn-success"/></p>
        </form>
    </div>
{% endblock %}>
