{% extends 'charts/base.html' %}

{% block body %}
    <div class="jumbotron">
        <h1>Data Toy</h1>
        <p>A Data visualizations Toy project.</p>
    </div>
    <div class="form-group">
        <input placeholder="Search" id="search" type="text" class="form-control"/>
    </div>
    {% if charts %}
        {% regroup charts|dictsort:"title" by title as chart_list %}
        <div id="nested-list">
            <ul class="navList">
                {% for chart_title in chart_list %}
                    <li>
                        {{ chart_title.grouper }}
                        <ul>
                            {% for chart in chart_title.list %}
                                <li><a href="{% url 'charts:query' chart.id %}">{{ chart.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No charts are available.</p>
    {% endif %}
{% endblock %}

{% block extra_js %}
    {% load staticfiles %}
    <script src="{% static 'charts/js/search.js' %}"></script>
{% endblock %}
