{% extends 'charts/base.html' %}

{% block title %} {{ chart.title }} {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block body %}
    <h1>Available Data</h1>
    <form action="{% url 'charts:display' chart.id %}" method="post">
        {% csrf_token %}
        <table width="150">
            {{ form.as_table }}
        </table>
        <p><input type="submit" value="Submit" class="btn btn-success"/></p>
    </form>
{% endblock %}

{% block extra_js %}
    {% load staticfiles %}
    <script src="{% static 'charts/js/check-all-checkbox.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="{% static 'charts/js/datepickers.js' %}"></script>
{% endblock %}
