{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Datatoy site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'charts:index' %}">Datatoy Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
