
li a {
    color: green;
}

body {
    margin: 4px;
    padding: 4px;
    padding-top: 50px
}

.starter-template {
  padding: 40px 15px;
  text-align: left;
}

#nested-list ul {
    list-style-type: none;
}

.errorlist {
    list-style-type: none;
}

.errorlist li {
    color: red;
}

#search {
    width: 32ch;
}
